@using Mission08_Team0204.Models
@{
    ViewData["Title"] = "Add/Edit Task";
}
@model Mission08_Team0204.Models.Task

<h1>Input a Task!</h1>
<div>
    <form method="post">
        <input type="hidden" asp-for="TaskId" />
        <label asp-for="TaskStr">A short description of task!</label>
        <input asp-for="TaskStr" /><br /><br />

        <label asp-for="Quadrant">Which quadrant does this fall under?</label>
        <select asp-for="Quadrant">
            <option value="">Select a Quadrant</option>
            <option value="1">Important, Urgent</option>
            <option value="2">Important, Non-Urgent</option>
            <option value="3">Non-Important, Urgent</option>
            <option value="4">Non-Important, Non-Urgent</option>
        </select>
        <br /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" type="date" />
        <br /><br />

        <select asp-for="CategoryId">
            <option value ="">Select a Category</option>
            @foreach (Category c in ViewBag.CategoryViewBag)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br /><br />

        <label asp-for="IsCompleted">Has the task been completed?</label>
        <select asp-for="IsCompleted">
            <option value="">Select an option:</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</div>