<div class="container">
    <h1 class="text-center">Stephen Covey's Time Management Matrix</h1>
    <div>
        <br />
        <br />
    </div>
    <table class="table table-bordered table-striped">
    <div class="row">
    <div class="col-2"> 
         
    </div>
    <div class="col-5">
                <h2>Urgent</h2>
    </div>
    <div class="col-5">
                <h2>Not Urgent</h2>
    </div>
    </div>
        <div>
            <br />
            <br />
        </div>
    <div class="row">
        <div class="col-2">
                <h2 style="writing-mode:vertical-lr; transform: rotate(180deg)">Important</h2>
        </div>
        <div class="col-5">
            <h4>Quadrant 1</h4>
                @* @foreach (var item in yourDatabaseItems)
                {
                    <div class="row">
                        <div class="col-6">
                            <p>@item.Name</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                } *@
        </div>
            <div class="col-5">
                <h4>Quadrant 2</h4>
                @* @foreach (var item in yourDatabaseItems)
                {
                    <div class="row">
                        <div class="col-6">
                            <p>@item.Name</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                } *@
            </div>
    </div>
    <div>
        <br />
        <br />
    </div>

        <div class="row">
            <div class="col-2">
                <h2 style="writing-mode:vertical-lr; transform: rotate(180deg)">Not Important</h2>
            </div>
            <div class="col-5">
                <h4>Quadrant 3</h4>
                @* @foreach (var item in yourDatabaseItems)
                {
                    <div class="row">
                        <div class="col-6">
                            <p>@item.Name</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                } *@
            </div>
            <div class="col-5">
                <h4>Quadrant 4</h4>
                @* @foreach (var item in yourDatabaseItems)
                {
                    <div class="row">
                        <div class="col-6">
                            <p>@item.Name</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                } *@
            </div>
        </div>
    </table>
</div>